.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
header {
    top: 0;
}

footer {
    bottom: 0;
}

header,
footer {
    position: fixed;
    height: 50px;
    display: block;
    width: 100%;
    background: #000;
    z-index: 9;
    text-align: center;
    color: #f2f2f2;
    padding: 20px 0 0 0;
}

.f-section-bg {
    background: url(img/hero_image_bg.jpg)center no-repeat;
    background-size: cover;
}

.hero-heading {
    color: #000;
    font-size: 32px;
    font-weight: lighter;
    text-align: center;
}

.fheight {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.logo-full-img {
    margin: 0 auto;
    height: 70%;
}

.rent-image {
    display: block;
    width: auto;
    height: 100%;
    overflow: hidden;
}

h1 {
    font-size: 36px;
    margin-top: 60px;
    text-align: left;
    color: #ffffff;
}

.fa {
    font-size: 32px;
    padding: 9px;
    color: #ffffff;
}

.padding {
    padding: 15px;
}

.paddingcentered {
    padding: 30px 130px;
}
hr{
	border-top: 1px solid #fff;
}
a {
    color: #ffffff;
}

a:hover {
    color: #cacaca;
}

h2 {
    color: #ffffff;
    text-align: left;
}

p {
    text-align: left;
    color: #ffffff;
    font-size: 16px;
    margin: 0 0 10px;
}

ul {
    padding: 4% 8%;
    font-size: 14px;
    color: #fff;
    text-align: left;
    list-style-type: decimal;
}

ul>li {
    margin-bottom: 3px;
}


.blogblock{
	transition: all .5s linear;
}
.blogblock:hover {
box-shadow: 0px 0px 20px 1px #d4d4d4;
}
.nextphblock{
	    border: 1px solid #000;
    height: 530px;
    width: 100%;
    float: right;
    background: #fff;
}
.nopadding{
	padding: 0;
}
footer {
    height: 80px;
}
.fp-controlArrow.fp-prev {
    width: 60px!important;
    height: 60px;
    background:rgba(255,255,255,.7) url(img/back-arrow.svg) center no-repeat;
    border: 0;
}
.fp-controlArrow.fp-next {
    width: 60px!important;
    height: 60px;
    background:rgba(255,255,255,.7) url(img/forward-arrow.svg) center no-repeat;
    border: 0;
}
.fp-controlArrow{
	top: 95%!important;
}
#fp-nav ul li .fp-tooltip {
    top: -5px!important;
    color: #fff!important;
    font-size: 14px!important;
    cursor: pointer!important;
    background: black!important;
    padding: 2px 5px!important;
}
/*------- ANIMATION ----*/
.scroll-down {
    position: relative;
    -webkit-animation: scrolldown 1s infinite;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: alternate;
    /* Safari 4.0 - 8.0 */
    animation: scrolldown 1s infinite;
    animation-direction: alternate;
}

/* Safari 4.0 - 8.0 */

@-webkit-keyframes scrolldown {
    0% {
        left: 0px;
        top: 0px;
    }
    50% {
        left: 0px;
        top: 20px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

@keyframes scrolldown {
    0% {
        left: 0px;
        top: 0px;
    }
    50% {
        left: 0px;
        top: 20px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

@media screen and (max-width:992px) {
    .fheight {
        display: block;
    }
}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}